  <div class="row m-3">
   
      <div class="col-7">
        
        <table class="table">
          <thead>
            <tr >
              <th scope="col">#</th>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees; let i = index" >
              <td scope="row">{{i+1}}</td>
              <td>{{ employee.id}}</td>
              <td>{{ employee.name}}</td>
              <td>{{ employee.email}}</td>
              <td>
                <button class="btn btn-success ml-1" [routerLink]="['/assign-device', employee._id]">Assign Device</button>
                <button class="btn btn-secondary ml-1" (click)="editEmployee(employee)">Edit</button>
                <button class="btn btn-info ml-1" (click)="showEmployee(employee._id)">Details</button>
                <button class="btn btn-danger ml-1" (click)="deleteEmployee(employee._id)">Delete</button>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      

      <div  [ngSwitch]="toggle">

        <div *ngSwitchCase="'DELETE'">
          <app-employee-details [employee]="selectedEmployee"></app-employee-details>
          <h4>Are you sure you want to delete this employee?</h4>
          <button class="btn btn-danger" (click)="confirmDelete(selectedEmployee._id)">Confirm Delete</button>  
        </div>
  
        <div  *ngSwitchCase="'DETAILS'">
          <app-employee-details [employee]="selectedEmployee"></app-employee-details>
          <button (click)="close()">Hide</button>
        </div>
  
        <div  *ngSwitchCase="'EDIT'">
          <app-employee-form [employee]="selectedEmployee" [toggle]="toggle" (emitEmployee)="updateEmployeeList($event)"></app-employee-form>
        </div>
  
        <div *ngSwitchDefault></div>
      </div>
    </div>

    

    

  
 
  
  
  
   
     
      
    

    