<nav class="row navbar navbar-expand bg-primary justify-content-between">
    <ul class="col-6 navbar-nav ">
        <li><a href="#" routerLink="/" class="text-white nav-link">Employees</a></li>
        <li><a href="#" routerLink="/device" class="text-white nav-link">Devices</a></li>
        <li><a href="#" routerLink="/employee-form" class="text-white nav-link">New Employee</a></li>
        <li><a href="#" routerLink="/device-form" class="text-white nav-link">New Device</a></li>
    </ul>
    <ul class="col-4 navbar-nav ">
        <li>
            <a href="#" routerLink="/assign" class="text-white nav-link">Assign Devices</a>
        </li>
    </ul>
</nav>


  

  