.employee {
    
    color:blue;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 300px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
.employee:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}