<h2>Employee Form</h2>

<div class="row">
    <div class="col-8">
        <form [formGroup]="employeeForm">
            <input formControlName="name">
            <input formControlName="email">
            <div formArrayName="devices">
          
                <div *ngFor="let device of deviceForms.controls; let i=index" 
                      [formGroupName]="i" class="row">
          
                    <input class="input-inline col-3" formControlName="serialnumber">
                    <input class="input-inline col-3" formControlName="description">
                    <input class="input-inline col-3" formControlName="type">
          
                    <button (click)="unassignDevice(i)" class="col-3">Unassign device</button>
          
                </div>
            </div>
          
            
          
        </form>
    </div>

    <div class="col-4">
        <div *ngFor="let udevice of unassignedDevices; let i=index" >
            {{udevice.description}} <button (click)="addDevice(udevice)">Click to add</button>
        </div>
    </div>
</div>


